[ req ]
default_bits           = 4096
prompt                 = no
days                   = 9999
distinguished_name     = dn
x509_extensions        = cert_req_ext

[ dn ]
countryName            = US
stateOrProvinceName    = CA
localityName           = San Bruno
organizationName       = edwgiz
commonName             = 127.0.0.1
emailAddress           = edwgiz@gmail.com

[ cert_req_ext ]
basicConstraints       = CA:false
subjectAltName         = @san

[ san ]
IP.1 = 192.168.1.254
IP.2 = 127.0.0.1
